<!DOCTYPE html>
<html>
<head>
<title><meta charset="utf-8">{% block title %}{% endblock %}</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh-tables.js"></script>
</head>
<body>
{% set messages = get_flashed_messages() %}
{% if messages %}
<section>
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
</section>
{% endif %}
<section>
{% block content %}
<h1>{{ self.title() }}</h1>
{% endblock %}
</section>
<nav>
<a href="/">Home</a>
</nav>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.0.1/bokeh-tables.js"></script>
</html>